.main_content_div{
    ion-label {
        display: block;
    }

    .main_div{
        padding: 16px;
        border-bottom: 1px solid lightgray;
        .head_div{
            // display: flex;
            // width: 100%;
            justify-content: space-between;
            // align-items: center;
            margin-bottom: 15px;
            position: relative;
    
            .header_lbl{
                font-weight: 600;
            }
            .btn_lbl{
                position: absolute;
                right: 0;
                top: 0;
                font-weight: 600;
                font-size: 14px;
                color: var(--ion-color-primary);
            }

            .sub_header{
                color: gray;
                font-size: 13px;
                margin-top: 5px;
            }
        }
        .slider_div{ 
            ion-slide{
                margin-right: 5px;
            }
    
            .slide_div{
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;   
                .round_div{
                    height: 60px;
                    width: 60px;
                    border-radius: 100%;
                    border: 1px solid lightgray;
                    position: relative;
                    img{
                        width: 50px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }

                    .place_div2{
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }

                .place_div2{
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                }

                ion-label{
                    font-size: 13px;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }

                .place_div{
                    height: 100px;
                    width: 100%;
                    position: relative;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    .overlay_div{
                        height: 100px;
                        width: 100%;
                        background: rgba(0,0,0,0.4);
                    }
                }
    
                .abs_lbl{
                    color: white;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                }
    
                .fill_btn{
                    --border-radius: 5px;
                }
                .out_btn{
                    margin-top: 7px;
                    margin-bottom: 5px;
                }
            }

            .bottom_flex{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-left: 5px;
                padding-right: 5px;

                ion-label {
                    text-align: left;
                }
            }
        }   
    }
}