<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-button class="menu_btn" slot="end"  size="small" fill="clear">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    
    <div class="flex_div">
      <div style="display: flex;">
        <img src="assets/imgs/news_icn1.png">
        <ion-label>News India</ion-label>
      </div>
      <div>
        <ion-button class="follow_btn"  fill="outline" size="small">
          <ion-icon slot="start" name="add"></ion-icon>
          Follow
        </ion-button>
      </div>
    </div>

    <div class="lbl_div">
      <ion-label class="news_title">Lorem Ipsum is simply dummy text of the printing</ion-label>
    </div>

   <img class="back_image" src="assets/imgs/news1.jpg" alt="">

   <div class="content_div">
    <ion-label class="time">7 Apr 2020, 02:00 PM</ion-label>
    <ion-label>By L.S. Jonh Doe</ion-label>

    <ion-label class="desc">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta provident sit delectus labore excepturi vel 
      blanditiis corrupti, atque mollitia omnis nostrum impedit officia! Facere, quas eum laudantium saepe expedita reiciendis?
    </ion-label>

    <ion-label class="desc">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
    </ion-label>
   </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer_div">
    <div class="first_div">
      <ion-input type="text" placeholder="Add a comment"></ion-input>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <div class="flex_div">
              <img src="assets/imgs/comment.png">
              <ion-label>24</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="flex_div">
              <img src="assets/imgs/like.png">
              <ion-label>24</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="flex_div">
              <img src="assets/imgs/whatsapp.png">
              <ion-label>30</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <div class="second_div">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <div class="flex_div">
              <img src="assets/imgs/comment.png">
              <ion-label>24</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="flex_div">
              <img src="assets/imgs/like.png">
              <ion-label>24</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="flex_div">
              <img src="assets/imgs/whatsapp.png">
              <ion-label>30</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </div>
</ion-footer>
