.div_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-right: 16px;
    border-bottom: 1px solid lightgray;

    .first_div{
        display: flex;
        align-items: center;

        ion-badge{
            margin-left: 10px;
        }
    }

    ion-select{
        border-radius: 5px;
        border: 1px solid var(--ion-color-primary);
        padding: 5px 10px
    }
}

.main_content_div{
    width: 100%;
    padding: 16px;

    ion-label {
        display: block;
    }
    .flex_list{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: space-between;

        .first_div{
            display: flex;
            align-items: center;
        }

        .round_div{
            height: 40px;
            width: 40px;
            border-radius: 100%;
            border: 0.55px solid lightgray;
            position: relative;
            margin-right: 15px;

            img{
                position: absolute;
                width: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            ion-label {
                font-size: 15px;
            }
        }

        ion-button{
            --border-radius: 5px;
        }
    }

    .flex_list2{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        .round_image{
            height: 50px;
            width: 50px;
            border-radius: 100%;
            min-width: 50px;
        }

        .second_div{
            padding-left: 10px;
            position: relative;
            width: 100%;
            .small{
                color: gray;
                font-size: 12px;
            }

            ion-button{
                --border-radius: 5px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}