.u-text-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: antiquewhite;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    border-radius: 500px;
    color: white;
  }